body {
  font-family: "Trip Sans Reg";
}

.wrapper {
  max-width: 1140px;
  margin: 0 auto;
  padding: 10px 20px;
}

h1 {
  font-size: 54px;
  font-weight: bold;
  margin-top: 50px 0 20px 0;
}

h2 {
  font-size: 28px;
  font-weight: bold;
  margin: 20px 0;
}

h3 {
  font-size: 24px;
  font-weight: bold;
}

h4 {
  font-size: 18px;
  font-weight: bold;
}
/* HEADER */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

header > div {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

header img {
  width: 188px;
}

header #search-bar {
  width: 55%;
  border: 2px solid #e0e0e0;
  border-radius: 8px;
  padding: 5px;
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.fa-search {
  font-size: 18px;
  margin-left: 5px;
}

header input {
  width: 100%;
  margin-left: 10px;
  border: none;
  font-size: 16px;
}

header input:focus {
  outline: none;
}

header nav {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

header nav div {
  margin-left: 10px;
  padding: 13px;
  transition: background-color 0.2s linear;
  border-radius: 50px;
}

header nav div:hover {
  background-color: #f2f2f2;
  cursor: pointer;
}

header nav div:last-child {
  background-color: black;
  color: white;
  margin-left: 5px;
  font-size: 16px;
}

header nav div:last-child:hover {
  background-color: rgb(0, 0, 0, 0.8);
}

header nav div span {
  margin-left: 10px;
}

.fa-pen,
.fa-heart,
.fa-bell {
  font-size: 20px;
}

#search,
#bars {
  display: none;
  font-size: 20px;
}

/* FORMULAIRE */
#modal {
  display: none;
}

#message-success {
  display: none;
  color: goldenrod;
  text-align: center;
  margin-top: 20px;
}

#message-error {
  display: none;
  color: red;
  text-align: center;
  margin-top: 20px;
}

.show {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.form-bloc {
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  width: 420px;
  height: 460px;
  padding: 60px 20px;
  background-color: white;
  opacity: 1;
  border-radius: 20px;
  position: relative;
}

.fa-times {
  font-size: 25px;
  color: grey;
  position: absolute;
  top: 20px;
  right: 20px;
}

.form h3 {
  font-size: 23px;
  text-align: center;
}

#form-contact {
  margin-top: 30px;
  display: flex;
  height: 87%;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#form-contact input,
#form-contact textarea {
  width: 60%;
  padding: 0 10px;
  font-size: 15px;
  border: 2px solid black;
}

#form-contact input:focus,
#form-contact textarea:focus {
  outline: none;
}

#form-contact input {
  line-height: 50px;
}

#form-contact textarea {
  height: 150px;
  resize: none;
  padding: 10px;
  font-family: inherit;
}

#submit {
  width: 200px;
  background-color: #04aa6c;
  height: 40px;
  text-align: center;
  padding: 0;
  margin-top: 5px;
  color: white;
  font-weight: bold;
  border-radius: 6px;
  font-size: 15px;
  border: none;
  transition: background-color 0.3s linear;
}

#submit:hover {
  background-color: #35e1a1;
  cursor: pointer;
}

#btn-close {
  transition: all 0.2s linear;
}

#btn-close:hover {
  cursor: pointer;
  transform: scale(1.2);
  color: goldenrod;
}
/* MAIN */
/* NAV */

main nav {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

main nav div {
  border: 2px solid black;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  flex: 1;
  margin: 5px;
  border-radius: 10px;
  transition: background-color 0.2s linear;
}

main nav div:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}

main nav div:nth-child(1) {
  margin-left: 0;
}

main nav div:nth-child(6),
main nav div:nth-child(7) {
  display: none;
}

main nav div p {
  max-width: 95px;
}

.blur,
#chevron-right {
  display: none;
}

/* PICTURES */
.pictures {
  display: flex;
  height: 430px;
}

.pictures .col-1 {
  flex: 1;
  height: 100%;
  margin-right: 2px;
}

.pictures .col-1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.pictures .col-2 {
  width: 480px;
  height: 100%;
}

.pictures .col-2 img {
  height: calc(50% - 1.5px);
  width: 100%;
  object-fit: cover;
}

.pictures img {
  transition: opacity 0.2s linear;
}

.pictures img:hover {
  cursor: pointer;
  opacity: 0.8;
}

/* INFOS */
.infos {
  display: flex;
  justify-content: space-between;
  margin: 40px 0 100px 0;
}

.infos .col-1 {
  width: 580px;
}

.infos .col-1 p {
  font-size: 20px;
  font-family: "Georgia";
  color: #333333;
  line-height: 20.8px;
}

.infos .col-2 {
  width: 470px;
  border-radius: 12px;
  transition: box-shadow 0.3s ease;
}

.infos .col-2:hover {
  box-shadow: 0 0 20px 0px black;
}

.infos .col-2 > div {
  display: flex;
  flex-direction: column;
}

.infos img {
  width: 100%;
  height: 190px;
  object-fit: cover;
  border-radius: 0 0 12px 12px;
}

.infos .col-2 h2 {
  font-size: 32px;
}
.infos .col-2 .voyages {
  padding: 20px 30px 30px 30px;
  background-color: #fb5d5d;
  border-radius: 12px 12px 0 0;
  display: flex;
  flex-direction: column;
}

.infos button {
  margin-top: 20px;
  width: 165px;
  font-size: 16px;
  padding: 19px 15px;
  border-radius: 20px;
  color: white;
  background-color: black;
  border: none;
  transition: all 0.2s linear;
}

.infos button:hover {
  background-color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
  color: black;
  transform: scale(1.1);
}

/* IMMANQUABLES */
.immanquables {
  display: flex;
  justify-content: space-between;
  margin: 50px 0 100px 0;
  transition: transform 0.3s linear;
}

.immanquables:hover {
  transform: scale(1.05);
}

.immanquables .col-1 {
  width: 220px;
  margin-right: 80px;
}

.immanquables .col-1 p {
  margin: 10px 0;
}

.immanquables .col-1 p:nth-child(2) {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #333333;
  line-height: 21px;
  font-size: 18px;
}

.immanquables .col-1 p:nth-child(3),
.immanquables .col-2 p {
  font-size: 14px;
}

.immanquables .col-2 {
  width: 840px;
  display: flex;
  justify-content: space-between;
  overflow: scroll;
}

.immanquables .col-2::-webkit-scrollbar {
  overflow: hidden;
}

.immanquables .col-2 img,
.immanquables .col-2 h4,
.immanquables .col-2 p,
.immanquables .fa-circle {
  margin-bottom: 5px;
  transition: opacity 0.2s linear;
}

.immanquables .col-2 p,
.immanquables span {
  color: #333333;
}

.immanquables .col-2 div:first-child {
  margin-left: 0;
}

.immanquables .col-2 div {
  position: relative;
  margin-left: 10px;
}

#bristol img,
#frenchie img {
  height: 205px;
}

.immanquables .col-2 div:hover {
  cursor: pointer;
}

.immanquables .col-2 div:hover img,
.immanquables .col-2 div:hover h4 {
  opacity: 0.8;
}

.immanquables .col-2 div:hover h4 {
  text-decoration: underline;
}

.immanquables .col-2 div:hover .fa-heart {
  opacity: 1;
}

.immanquables .fa-heart {
  position: absolute;
  z-index: 1000;
  top: 10px;
  right: 10px;
  border-radius: 50%;
  padding: 10px;
  background-color: white;
  transition: background-color 0.2s linear;
}

.immanquables .fa-heart:hover {
  background-color: #dbdbdb;
}

.immanquables .col-2 div,
.immanquables img {
  width: 270px;
}

.immanquables span {
  font-size: 12px;
}

.immanquables .fa-circle,
.immanquables .fa-adjust {
  margin-left: 2px;
  font-size: 12px;
  color: #10aa6c;
}

/* FOOTER */
footer {
  height: 150px;
  display: flex;
  background-color: #faf1ed;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

footer p {
  line-height: 20px;
  font-size: 12px;
}

footer a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 14px;
}

footer a:hover {
  text-decoration: underline;
}

/* *********************** */
/* MEDIA QUERIES */

@media (max-width: 1184px) {
  /* MAIN */
  /* NAV */

  main nav div:nth-child(6),
  main nav div:nth-child(7) {
    display: block;
    display: flex;
  }

  main nav div:nth-child(5) {
    margin-left: 0;
  }
  main nav {
    flex-wrap: wrap;
  }

  main nav div {
    min-width: 20%;
    align-items: center;
  }

  main nav div p {
    max-width: 100%;
  }

  /* PICTURES */
  main .pictures {
    height: 370px;
  }

  .pictures .col-2 {
    max-width: 400px;
  }

  /* IMMANQUABLES */
  .immanquables {
    margin-right: -20px;
  }

  /* .immanquables .col-2 {
    min-width: 870px;
  }

  .immanquables .col-2 div {
    margin-right: 15px;
  }*/

  .immanquables .col-2 {
    box-sizing: border-box;
    max-width: 870px;
    height: 300px;
    overflow: scroll;
  }

  /* .immanquables .col-2 div,
  .immanquables img {
    width: 250px;
  } */

  .immanquables .col-2 div:last-child {
    margin-right: 0;
  }
}

@media (max-width: 1024px) {
  /*HEADER */
  header nav span {
    display: none;
  }

  /* MAIN */
  /* NAV */

  main nav div:nth-child(5) {
    margin: 5px;
  }

  main nav div:nth-child(6) {
    margin-left: 0;
  }

  main nav div {
    min-width: 15%;
    align-items: center;
  }

  /* PICTURES */
  main .pictures {
    height: 275px;
  }

  .pictures .col-2 {
    max-width: 325px;
  }

  /* INFOS */
  .infos {
    flex-direction: column;
  }

  .infos .col-1,
  .infos .col-2 {
    width: 100%;
  }

  .infos .col-2 {
    margin-top: 40px;
  }

  .infos .col-2 > div {
    flex-direction: row;
    height: 275px;
  }

  .infos .col-2 .voyages {
    width: 50%;
    border-radius: 12px 0 0 12px;
  }

  .infos img {
    width: 50%;
    height: 275px;
    object-fit: cover;
    border-radius: 0 12px 12px 0px;
  }

  /* IMMANQUABLES */

  .immanquables .col-1 {
    width: 290px;
  }

  .immanquables:hover {
    transform: none;
  }

  .immanquables .col-2 {
    box-sizing: border-box;
    max-width: 635px;
    height: 300px;
    overflow: scroll;
  }

  .immanquables .col-2 div,
  .immanquables img {
    width: 250px;
  }

  #bristol img,
  #frenchie img {
    height: 188px;
  }
}

@media (max-width: 940px) {
  /* MAIN */
  /* NAV */

  main nav div:nth-child(5) {
    margin-left: 0px;
  }

  main nav div:nth-child(6) {
    margin-left: 5px;
  }
}

@media (max-width: 768px) {
  /*HEADER */
  header #search-bar,
  header nav {
    display: none;
  }

  header > div {
    max-width: max-content;
  }

  #search,
  #bars {
    display: block;
  }

  /* MAIN */
  /* NAV */
  main {
    position: relative;
  }

  main h1 {
    font-size: 32px;
  }
  main nav {
    flex-wrap: nowrap;
    overflow: scroll;
  }

  main nav::-webkit-scrollbar {
    overflow-y: hidden;
  }

  main nav div {
    min-width: 120px;

    height: 7px;
  }

  .blur {
    display: block;
    position: absolute;
    top: 45px;
    right: -30px;
    background: linear-gradient(270deg, #fff 50px, hsla(0, 0%, 100%, 0));
    width: 150px;
    height: 60px;
    border-radius: 50px;
  }

  #chevron-right {
    display: block;
    position: absolute;
    top: 70px;
    right: 0px;
    font-size: 20px;
  }

  #chevron-right:hover {
    cursor: pointer;
  }

  /* PICTURES */
  main .pictures {
    margin-top: -25px;
    height: 275px;
  }

  .pictures .col-1 {
    margin: 0 -20px;
  }

  .pictures .col-2 {
    display: none;
  }

  /* INFOS */
  .infos {
    flex-direction: column;
    margin-bottom: 260px;
  }

  .infos .col-1,
  .infos .col-2 {
    width: 100%;
  }

  .infos .col-1 p {
    font-size: 16px;
  }
  .infos .col-2 > div {
    flex-direction: column;
    width: 100%;
  }

  .infos .col-2 .voyages {
    box-sizing: border-box;
    border-radius: 12px 12px 0 0;
    min-width: 100%;
  }

  .infos img {
    width: 100%;
    height: 190px;
    object-fit: cover;
    border-radius: 0 0 12px 12px;
  }

  /* IMMANQUABLES */
  .immanquables {
    flex-direction: column;
    margin-bottom: 50px;
  }

  .immanquables .col-1 {
    margin-bottom: 20px;
    width: 100%;
  }

  .immanquables .col-1 p {
    margin: 15px 0;
  }

  .immanquables .col-2 {
    box-sizing: border-box;
    min-width: 100%;
    height: 300px;
    overflow: scroll;
  }
}

@media (max-width: 630px) {
  .immanquables .col-2 {
    box-sizing: border-box;
    min-width: 100%;
    height: 480px;
  }

  .immanquables .col-2 div,
  .immanquables img {
    width: 485px;
  }

  #bristol img,
  #frenchie img {
    height: 364px;
  }
}

@media (max-width: 600px) {
  .immanquables {
    max-width: 572px;
    overflow: hidden;
  }

  .immanquables .col-1 {
    max-width: 90%;
  }
}
